:root {
  --grey-light: #e5e5e5;
  --grey-medium: #3d3d3d;
  --grey-dark: #252424;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-header {
  background-color: var(--grey-dark);
  position: fixed;
  width: 100%;
  height: 36px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-container {
  width: 100%;
  height: 100%;
  scrollbar-color: var(--grey-dark);
  background-color: var(--grey-medium);
  padding-top: 10vh;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

.App-transition-button {
  border-radius: 50%;
  background-color: var(--grey-light);
  border: 5px solid var(--grey-light);
  height: 15px;
  width: 15px;
  padding: 15px;
  z-index: 1;
  box-shadow: 0 0 5pt 1pt rgba(0, 0, 0, 0.8);
}

.App-transition-button:hover {
  box-shadow: 0 0 3pt 2pt #92e8e2;
}

.App-transition-button.empty {
  background-color: var(--grey-medium);
}

.App-transition-button.left {
  left: 22%;
}

.App-transition-button.middle {
  left: 50.5%;
}

.App-transition-button.right {
  left: 79.3%;
}

.modal-dialog {
  color: var(--grey-light);
  max-width: 90vw;
}

.modal-content {
  background-color: var(--grey-medium);
  border-radius: 1em;
}

.modal-header {
  border-bottom: 3px solid var(--grey-light);
}

.close {
  color: var(--grey-light);
}

.close:hover {
  color: var(--grey-light);
}

.Modal-container {
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(29, 29, 29, 0.452);
  /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
  left: 0;
  top: 0;
}

.Modal-content {
  padding: 3%;
  border-radius: 20px;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #494949;
}

.Icon-button {
  background: none;
  border: none;
  padding: 0;
}

body {
  background-color: var(--grey-medium);
}

.sliding-container-enter {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}
.sliding-container-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.sliding-container-exit {
  opacity: 1;
}
.sliding-container-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 300ms, transform 800ms;
}
