:root {
  --grey-light: #e5e5e5;
  --grey-medium: #3d3d3d;
  --grey-dark: #252424;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-header {
  background-color: var(--grey-dark);
  position: fixed;
  width: 100%;
  height: 36px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-container {
  width: 100%;
  height: 100%;
  background-color: var(--grey-medium);
  padding-top: 20vh;
}

.App-link {
  color: #61dafb;
}

.App-bridge-button {
  border-radius: 50%;
  background-color: var(--grey-light);
  border: none;
  padding: 15px;
  z-index: 1;
  position: absolute;
  top: 35%;
}

.App-bridge-button:hover {
  box-shadow: 0 0 3pt 2pt #92e8e2;
}

.App-bridge-button.left {
  left: 22%;
}

.App-bridge-button.middle {
  left: 50.5%;
}

.App-bridge-button.right {
  left: 79.3%;
}

.modal-dialog {
  color: var(--grey-light);
  max-width: 90vw;
}

.modal-content {
  background-color: var(--grey-medium);
  height: 90vh;
  border-radius: 1em;
}

.close {
  color: var(--grey-light);
}

.close:hover {
  color: var(--grey-light);
}

.Modal-container {
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(29, 29, 29, 0.452);
  /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
  left: 0;
  top: 0;
}

.Modal-content {
  padding: 3%;
  border-radius: 20px;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #494949;
}

.Icon-button {
  background: none;
  border: none;
  padding: 0;
}
