:root {
  --grey-light: #E5E5E5;
  --grey-medium: #3D3D3D; 
  --grey-dark: #252424;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-header {
  background-color: var(--grey-dark);
  position:fixed;
  width:100%;
  height: 36px;
	z-index:1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-container {
  width: 100%;
  height: 100%;
  background-color: var(--grey-medium);
  padding-top: 20vh;
}

.App-link {
  color: #61dafb;
}

.App-bridge-button {
  border-radius: 50%;
  background-color: var(--grey-light);
  border: none;
  padding: 15px;
  z-index: 1;
  position: absolute;
  top: 35%;
}

.App-bridge-button:hover {
  box-shadow: 0 0 3pt 2pt #92E8E2;
}

.App-bridge-button.left {
  left: 22%;
}

.App-bridge-button.middle {
  left: 50.5%;
}

.App-bridge-button.right {
  left: 79.3%;
}

.modal-dialog {
    height: 90vh;
    color: var(--grey-light);
    margin: 0 auto;
    max-width: 90vw;
}

.modal-content {
  background-color: var(--grey-medium);
}

.close {
  color: var(--grey-light);
}