.VersionB {
    display: flex;
    flex-direction: column;
}

.VersionB.Generate {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.VersionB.Playback-Button {
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
    align-items: center;
}

.VersionB.Button-Container {
    display: flex;
    flex-direction: row;
}

.VersionB.Button-Container > * {
    margin: 5px
}

.fa-star {
    position: relative;
    top: 20px;
    right: 57px;
}